:root {
  background-image: url(https://static.prod.pokemon.com/images/pikachu_pattern.png);
  background-repeat: repeat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Exo", sans-serif;
}